<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Finder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/static/riverdye-1.jpeg" alt="Professor Finder Logo"  class="logo">
        </div>
    
    </header>
    <!-- Rest of the page content goes here -->

    <main>
        {% if query %}
            <p>Results for: {{ query }}</p>
        {% endif %}    
        <center>
          <form id="searchForm" action="/search/" method="post">
              <input type="text" name="query" placeholder="Input your keyword" size=35 fontsize=20>
              <input type="submit" value="Search" fontsize=20>
          </form>
         </center> 
    </main>
    
    <footer>
        <center><p>&copy; 2023 Professor Finder, Chicago River Team of UIUC, All rights reserved.</p></center>
    </footer>
</body>
</html>